[submodule "thirdparty/jbig2dec"]
	path = thirdparty/jbig2dec
	url = https://github.com/ArtifexSoftware/jbig2dec
[submodule "thirdparty/mujs"]
	path = thirdparty/mujs
	url = https://github.com/ArtifexSoftware/mujs
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/ArtifexSoftware/thirdparty-freetype2
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url = https://github.com/ArtifexSoftware/thirdparty-harfbuzz
[submodule "thirdparty/jpeg"]
	path = thirdparty/libjpeg
	url = https://github.com/ArtifexSoftware/thirdparty-libjpeg
[submodule "thirdparty/lcms2"]
	path = thirdparty/lcms2
	url = https://github.com/ArtifexSoftware/thirdparty-lcms2
[submodule "thirdparty/openjpeg"]
	path = thirdparty/openjpeg
	url = https://github.com/ArtifexSoftware/thirdparty-openjpeg
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/ArtifexSoftware/thirdparty-zlib
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/ArtifexSoftware/thirdparty-curl
[submodule "thirdparty/freeglut"]
	path = thirdparty/freeglut
	url = https://git.ghostscript.com/thirdparty-freeglut.git
