[submodule "thirdparty/jbig2dec"]
	path = thirdparty/jbig2dec
	url = https://github.com/ArtifexSoftware/jbig2dec.git
	shallow = true
[submodule "thirdparty/mujs"]
	path = thirdparty/mujs
	url = https://github.com/ccxvii/mujs.git
	shallow = true
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
	branch = artifex
	shallow = true
[submodule "thirdparty/gumbo-parser"]
	path = thirdparty/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
	branch = artifex
	shallow = true
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
	branch = artifex
	shallow = true
[submodule "thirdparty/jpeg"]
	path = thirdparty/libjpeg
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	branch = artifex
	shallow = true
[submodule "thirdparty/lcms2"]
	path = thirdparty/lcms2
	url = https://github.com/mm2/Little-CMS.git
	branch = artifex
	shallow = true
[submodule "thirdparty/openjpeg"]
	path = thirdparty/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
	branch = artifex
	shallow = true
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
	branch = artifex
	shallow = true
[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl.git
	branch = artifex
	shallow = true
[submodule "thirdparty/freeglut"]
	path = thirdparty/freeglut
	url = https://github.com/ArtifexSoftware/freeglut.git
	branch = artifex
	shallow = true
[submodule "thirdparty/tesseract"]
	path = thirdparty/tesseract
	url = https://github.com/tesseract-ocr/tesseract.git
	branch = artifex
	shallow = true
[submodule "thirdparty/leptonica"]
	path = thirdparty/leptonica
	url = https://github.com/DanBloomberg/leptonica.git
	branch = artifex
	shallow = true
[submodule "thirdparty/extract"]
	path = thirdparty/extract
	url = https://github.com/ArtifexSoftware/extract.git
	branch = artifex
	shallow = true
[submodule "thirdparty/zxing-cpp"]
	path = thirdparty/zxing-cpp
	url = https://github.com/zxing-cpp/zxing-cpp.git
	branch = artifex
	shallow = true
[submodule "thirdparty/zint"]
	path = thirdparty/zint
	url = https://github.com/zint/zint.git
	branch = artifex
	shallow = true
[submodule "thirdparty/brotli"]
	path = thirdparty/brotli
	url = https://github.com/google/brotli.git
	branch = artifex
	shallow = true
