# test ghostscript filters
#
# usage: rc gsfilter.rc CCITTFaxDecode '<< ... >>' < in > out
#

builtin gs -q -dBATCH '-sDEVICE=nullpage' -c \
	'/myin (%stdin) (r) file ' ^ $2 ^ ' /' ^ $1 ^ ' filter def
	/s 1024 string def
	{ myin s readstring { print } { print exit } ifelse } loop'

