IDI_ICONAPPL ICON "gswin.ico"
IDI_ICONDOCU ICON "pdfdoc.ico"

IDD_DLOGPASS DIALOG 100, 100, 204, 60
//STYLE DS_MODALFRAME | WS_POPUP 
STYLE 128 | 0x80000000
CAPTION "GhostPDF: Password"
FONT 8, "MS Shell Dlg"
BEGIN
	EDITTEXT					3,			57,20,140,12, 32
	DEFPUSHBUTTON	"Okay",		1,			90,40,50,14, 0x50010001
	PUSHBUTTON		"Cancel",	2,			147,40,50,14, 0x50010000
	LTEXT "The file is encrypted."	4,		10,7,180,10, 0x00000
	LTEXT "Password:"			5,			17,22,40,10, 0x00000
END

